@import "../../components/titleslide";

.slide__background {
  background-image: url("../../resources/images/stripes_background.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  z-index: 1;
}

.theme--bouwatch {
}