@import "~reveal.js/dist/theme/white.css";

a {
  color: #ff6900 !important;
}

.slide-number {
  background-color: transparent !important;
}

.slide {
  &__background {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__overlay {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
  }

  &__header {
    font-family: Montserrat,sans-serif;
    color: #ff6900 !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5em;
    margin: 0;
  }

  &__header-container {
    display: flex;
    width: 50%;
    padding: 2em;
    background-color: #f1f1f1;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  &__top-bar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    border-image: url("../resources/images/stripes.svg") 15 repeat;
    border-bottom: 10px solid transparent;

    &-container {
      width: 100%;
      display: flex;
      padding: 1em 2em;
      align-items: center;
      justify-content: space-between;
    }
  }
}